{% if site.data.education.size > 0 %}

<h2>
  Education
</h2>

{% for education in site.data.education %}

  <div class="entry">

    <div class="entry-head">

      <h3>
        {{ education.school }}
      </h3>

      <time class="meta">
        {{ education.period }}
      </time>

    </div>

    {% if education.location %}
      <p class="entry-sub">
        {{ education.location }}
      </p>
    {% endif %}

    <p>
      {{ education.title }}
    </p>

  </div>

{% endfor %}

{% endif %}
