<!doctype html>

<html
  lang="{{ site.lang }}"
  data-accent="{{ site.default_accent | default: 'blue' }}"
>

{% include head.html %}

<body class="{% if page.url == '/' %}home-context{% elsif page.url contains '/about' %}about-context{% elsif page.url contains '/blog' %}blog-context{% endif %}">

  <div class="wrap">

    {% include header.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}

  </div>

  <script
    src="{{ '/assets/js/theme-toggle.js' | relative_url }}"
    defer>
  </script>

</body>

</html>
